.starImage {
  display: flex;
  flex-direction: column;
  margin-top: 27.8px;
  margin-left: 35px;
  margin-bottom: 30px;
  width: 71.14px;
  height: 71.14px;
}
.starName {
  display: flex;
  font-weight: bold;
  margin-top: -85px;
  margin-left: 135px;
}

.starTMI {
  display: flex;
  margin-top: 5px;
  margin-left: 135px;
  margin-right: 20px;
  margin-bottom: 20px;
}
