.body {
  margin-top: 402px;
  margin-bottom: -445px;
  padding-bottom: 70px;
}

// 별자리 써클이미지 위치 및 크기 설정
.starImage {
  display: flex;
  flex-direction: column;
  margin-top: 402px;
  margin-left: 25px;
  margin-bottom: 24px;
  width: 80px;
  height: 80px;
}

// 전체 h2 태그에 nomal로 적용
h2 {
  font-weight: normal;
}
// 별자리 이름에 볼드체 적용
.starNameBold {
  font-weight: bold;
}
// 별자리 이름 위치
.starName {
  display: flex;
  font-size: 16px;
  margin-top: -95px;
  margin-left: 121px;
  margin-bottom: 8px;
}

// 별자리 날짜 normal로 설정
.starDay {
  font-weight: normal;
  margin-left: 5px;
}

// 별자리 운세 정보 스타일
.starTMI {
  display: flex;
  font-size: 12px;
  line-height: 16px;
  margin-top: 0px;
  margin-left: 121px;
  margin-right: 25px;
}

// 데이터 로딩 스피너 위치 및 z-index 설정
.loading {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10000;
}
