.contentsDetail {
  width: 68px;
  height: 68px;
  padding-top: 17px;
  border-radius: 50%;
  border: 0;
  font-size: 9px;
  position: fixed;
  left: 84px;
  top: 610px;
  background: linear-gradient(45deg, #a3ff5b, #49c8ff);
  display: none;
}
