* {
  box-sizing: border-box;
}

.head {
  width: 100%;
  height: 194px;
  position: fixed;
  background: linear-gradient(180deg, #ffe5f1 0%, #ffe0f4 100%);
}

.headicon {
  display: flex;
  align-items: center;
  position: fixed;
  top: 30px;
  left: 0;
  right: 0;
  padding: 0;
  justify-content: space-between;
}

.Back {
  width: 24px;
  height: 24px;
  padding: 0;
  margin-left: 20px;
  position: relative;
  position: fixed;
  top: 20px;
}

.Share {
  width: 24px;
  height: 24px;
  content: '';
  padding: 0;
  position: relative;
  position: fixed;
  top: 20px;
  right: 0;
}

.LogoImg {
  display: flex;
  position: relative;
  width: 53.33px;
  height: 21.2px;
  margin-top: 10px;
  margin-left: 60px;
}

.title {
  padding: 12px;
  padding-top: 90px;
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  line-height: 1.2;
}

.zodiacImages {
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  max-width: calc(100% - 64px);
  display: inline-flex;
  justify-content: space-around; /* 혹은 space-between */
  align-items: center;
  flex-wrap: wrap;
}

.img {
  width: 80px;
  height: 80px;
  display: inline-flex;
  align-items: center;
  margin-top: 35.5px;
  margin-left: 20px;
  margin-right: 20px;
}

.zodiacText {
  font-weight: bold;
  text-align: center;
  margin-top: 8px;
  margin-bottom: -10px;
}
