* {
  box-sizing: border-box;
}

.head {
  width: 100%;
  height: 194px;
  position: fixed;
  background: linear-gradient(180deg, #ffe5f1 0%, #ffe0f4 100%);
}

.headicon {
  display: flex;
  align-items: center;
  position: fixed;
  top: 30px;
  left: 0;
  right: 0;
  padding: 0;
  justify-content: space-between;
}

.Back {
  width: 24px;
  height: 24px;
  padding: 0;
  margin-left: 20px;
  position: relative;
  position: fixed;
  top: 20px;
}

.LogoImg {
  display: flex;
  position: relative;
  width: 53.33px;
  height: 21.2px;
  margin-top: 10px;
  margin-left: 60px;
}

.title {
  padding: 0;
  margin-top: 96px;
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  line-height: 1.2;
}

.date {
  top: 158px;
  margin-top: 6px;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0.002em;
  text-align: center;
  color: #515355;
}

.zodiacImages {
  flex-direction: column;
  display: inline-flex;
  position: relative;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin: 0;
  top: 216px;
  margin-left: 32px;
  cursor: pointer;
}

.img {
  width: 80px;
  height: 80px;
  display: inline-flex;
  align-items: center;
  padding: 0;
  margin-top: 16px;
  margin-right: -4px;
}

.zodiacText {
  font-weight: bold;
  text-align: center;
  margin-top: 8px;
  margin-bottom: 0;
}
