@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
* {
  box-sizing: border-box;
  color: #191a1b;
  font-family: 'Pretendard-Regular';
  padding: 16px;
}
.modal {
  width: 100%;
  height: 998px;
  background-color: #191a1b;
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
}
.modalMain {
  width: 312px;
  height: 288px;
  margin: auto;
  border-radius: 12px;
  background-color: white;
  position: fixed;
  top: 215px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.modalHeader {
  height: 56px;
  font-weight: 700;
  line-height: 56px;
}
.button {
  width: 312px;
  height: 54px;
  border-radius: 0 0 12px 12px;
  color: white;
  background-color: #191a1b;
  border: 0;
  position: fixed;
  bottom: 0;
}
.button:hover {
  background-color: #d3d3d3;
}
