* {
  box-sizing: border-box;
}

.title {
  font-size: 25px;
}

.LogoImg {
  display: flex;
  position: fixed;
  margin: auto;
  width: 35px;
  height: 35px;
  top: 50px; /* 원하는 위치로 조정 */
  right: 70px; /* 원하는 위치로 조정 */
}

.container {
  width: 100%;
  // height: 760px;
  min-height: 100vh;
  margin: auto;
  position: relative;
  top: 0;
  background: linear-gradient(35deg, #d2fcf9, #8cbaff);
  text-align: center;
}
