.carouselBanner {
  width: 240px;
  height: 603px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.carouselImage {
  width: 240px;
  height: 316px;
  background-color: rgba(154, 154, 154, 20%);
  position: absolute;
  top: 0;
  z-index: 2;
}
.carouselContents {
  width: 240px;
  height: 316px;
  background-color: white;
  border-radius: 26px;
  box-shadow: 0 0 5px 1px rgb(198, 198, 198);
  position: absolute;
  bottom: 29px;
}
.carouselContents > .title {
  font-size: 23px;
  text-align: center;
  margin-top: 60px;
}
.carouselContents > .content {
  font-size: 16px;
  margin: 27px;
  text-align: center;
}

.contentsDetail {
  width: 58px;
  height: 58px;
  padding-top: 10px;
  border-radius: 50%;
  border: 0;
  font-size: 9px;
  position: absolute;
  bottom: 0;
  background: linear-gradient(45deg, #fff502, #6ce5ff);
}
