.menuModal {
  width: 330px;
  height: 760px;
  padding-top: 5px;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  top: 0;
  z-index: 10;
}
.modalHeader {
  width: 330px;
  height: 380px;
  margin-left: auto;
  margin-right: auto;
  background: linear-gradient(35deg, #8cbaff, #d2fcf9);
}
.modalCloseIcon {
  width: 24px;
  height: 24px;
}
.modalTitle {
  width: 100%;
  margin-top: 90px;
  font-size: 22px;
  text-align: center;
}
.modalMain {
  width: 330px;
  height: 380px;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.userInfo {
  height: 48px;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.userNmae {
  margin: 5px;
  color: black;
}
.userBirth {
  margin: 5px;
  color: #c9c9c9;
}
.menuList {
  width: 240px;
  height: 94px;
  font-size: 15px;
  margin: 40px 0 0 10px;
  border-bottom: 1px solid #c9c9c9;
}
.menuList li {
  padding: 16px 10px;
  border-top: 1px solid #c9c9c9;
}
