.button {
  width: 312px;
  height: 48px;
  margin: 1vh;
  background-color: #191a1b;
  color: white;
  font-size: 16px;
  border-radius: 12px;
  border: 0;
  font-weight: 700;
  line-height: 20px;
}
.button:hover {
  background-color: #d3d3d3;
}
@media (min-height: 905px) {
  .button {
    margin: 10vh;
  }
}
