* {
  box-sizing: border-box;
}

.head {
  width: 100%;
  height: 378px;
  margin: auto;
  top: 0;
  background: linear-gradient(35deg, #d2f9fc, #c6b2fe);
  text-align: center;
}

.headtitle {
  display: flex;
}

.Back {
  margin-top: 25px;
  margin-left: 10px;
  margin-right: 5px;
  width: 30px;
  height: 30px;
}

.LogoImg {
  display: flex;
  margin-top: 33px;
  width: 52px;
  height: 21px;
}

.Share {
  display: flex;
  margin-top: 33px;
  margin-left: 220px;
  width: 18px;
  height: 20px;
}

.MbtiMainImg {
  margin-top: 10px;
  width: 190px;
  height: 210px;
}

.title {
  font-size: 25px;
  font-weight: bold;
  line-height: 1.2;
  margin: 10px;
}
