.birthModal {
  width: 312px;
  height: 180px;
  display: flex;
}
.birthModal .swiper-wrapper {
  width: 104px;
  height: 180px;
  margin: 0;
}
.birthModal .swiper-slide {
  width: 104px;
  height: 36px;
  text-align: center;
  font-size: 16px;
  line-height: 36px;
}
// .birthModal .swiper-slide-active {
//   background-color: #f7f7f7;
// }
