@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
* {
  box-sizing: border-box;
  color: #191a1b;
  font-family: 'Pretendard-Regular';
  padding: 16px;
}
.mainHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 16px;
}
.mainLogo {
  width: 160px;
  height: 72px;
  font-size: 30px;
  text-align: center;
  color: black;
}
.headerContent {
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  text-align: center;
  color: #8c8c8c;
}
.infoForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px;
  margin-top: 32px;
}
.infoInput label {
  width: 312px;
  font-size: 14px;
  line-height: 20px;
  text-align: left;
  margin: 3px;
}
.infoInput {
  margin: 0 0 24px 0;
  display: flex;
  flex-direction: column;
}
.inputArea {
  width: 312px;
  height: 48px;
  border-radius: 12px;
  border: 1px solid #d3d3d3;
  background-color: #f7f7f7;
  color: #191a1b;
  font-size: 16px;
  line-height: 20px;
  margin: 3px 0 3px 0;
}
.inputArea::placeholder {
  color: #d3d3d3;
}
.inputArea:focus {
  outline: none;
}
.error {
  border: 1px solid #e10000;
}
.errorText {
  width: 103px;
  height: 16px;
  margin: 5px 15px;
  color: #e10000;
  font-size: 12px;
}
.errorNone {
  display: none;
}
