@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
* {
  box-sizing: border-box;
  color: #191a1b;
  font-family: 'Pretendard-Regular';
}
.main {
  width: 100%;
  height: 998px;
  margin: auto;
  background: linear-gradient(45deg, #f4cfd8, #94e4fd);
}
.stateBar {
  width: 100%;
  height: 32px;
}
.mainHeader {
  width: 360px;
  padding: 0 16px;
}
.menuIcon {
  width: 30px;
  height: 30px;
}
.mainContents {
  width: 360px;
  height: 998px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.mainLogo {
  width: 160px;
  height: 72px;
  font-size: 30px;
  text-align: center;
  color: white;
  margin-top: 34px;
}
