@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
* {
  box-sizing: border-box;
  color: #191a1b;
  font-family: 'Pretendard-Regular';
  margin: 16px;
}
.main {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  background: linear-gradient(45deg, #f4cfd8, #94e4fd);
}
.statusBar {
  width: 100%;
  height: 16px;
  margin: 0;
}
.mainHeader {
  width: 100%;
  height: 65.5px;
}
.menuIcon {
  width: 30px;
  height: 30px;
  padding: 0;
}
.mainContents {
  width: 100%;
  height: calc(100vh - 65.5px);
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
}
.mainLogo {
  width: 160px;
  height: 72px;
  padding: 10px;
  margin-top: 34px;
}
@media (max-height: 738px) {
  .mainLogo {
    margin-top: 15px;
  }
}
