* {
  box-sizing: border-box;
}
.main {
  width: 100%;
  // height: 760px;
  min-height: 100vh;
  margin: auto;
  position: relative;
  top: 0;
  background: linear-gradient(35deg, #f4cfd8, #94e4fd);
}
.stateBar {
  width: 100%;
  height: 32px;
  position: fixed;
  top: 0;
}
.mainHeader {
  width: 360px;
  margin-left: auto;
  position: fixed;
  top: 32px;
  z-index: 5;
}
.menuIcon {
  width: 24px;
  height: 24px;
}
.mainContents {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.mainLogo {
  width: 160px;
  height: 72px;
  font-size: 30px;
  color: white;
  position: fixed;
  top: 104px;
}
