@import '../DetailButton/DetailButton.module';
@import '../CarouselBanner/CarouselBanner.module';

.swiper-container {
  width: 360px;
  height: 998px;
  margin: 36px auto;
}
.swiper-wrapper {
  margin: 0 60px;
}
.swiper-slide-active {
  transition: 0.3s all;
  .contentsDetail {
    display: block;
  }
  .carouselContents {
    box-shadow: 10px 10px 30px rgba(128, 127, 127, 0.4);
  }
}

.swiper-slide:not(.swiper-slide-prev):not(.swiper-slide-active):not(.swiper-slide-next) {
  opacity: 0;
}
