* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  user-select: none;
}
.slider-container {
  width: 500px;
  height: 494px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}
.slider-items {
  height: 494px;
  position: relative;
  list-style-type: none;
}
.slider-items li {
  position: absolute;
  width: 240px;
  height: 494px;
  left: 37%;
  z-index: 1;
  transition: transform 1.4s cubic-bezier(0.19, 1, 0, 22, 1);
}

.slider-items li.item-1 {
  z-index: 2;
  transform: translateX(-50%) scale(1) translate3d(0, 0, 0);
}
.slider-items li.item-3 {
  z-index: 0;
  transform: translateX(-50%) scale(0.5) translate3d(0, 0, 0);
}
.slider-items li.item-2 {
  z-index: 1;
  transform: translateX(-50%) scale(0.7) translate3d(90%, 0, 0);
}
.slider-items li.item-4 {
  z-index: 1;
  transform: translateX(-50%) scale(0.7) translate3d(-90%, 0, 0);
}
.slider-items li {
  transition:
    transform 0.5s,
    opacity 0.5s;
}
.item-1 .activeContentDetail {
  opacity: 1;
  transition: all 0.3s ease-in-out;
}

.contentsDetail {
  width: 68px;
  height: 68px;
  padding: 12px 0 0 0;
  margin: 0;
  border-radius: 50%;
  border: 0;
  font-weight: 700;
  font-size: 10px;
  position: fixed;
  left: 85px;
  top: 420px;
  background: linear-gradient(45deg, #a3ff5b, #49c8ff);
  opacity: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.contentsDetail div {
  width: 68px;
  padding-top: 5px;
  text-align: center;
}
.detailIcon {
  width: 25px;
  height: 24px;
  padding: 0;
  margin: 0;
}

// @media (max-height: 738px) {
//   .carousel {
//     margin: 0;
//   }
// }
