.carousel {
  width: 500px;
  height: 100vh;
  margin: 36px 0;
  overflow: hidden;
}
.carousel .swiper-wrapper {
  width: 100%;
  margin: auto;
}
.carousel .swiper-slide-active {
  transition: 0.3s all;
  .contentsDetail {
    display: block;
  }
  .carouselContents {
    box-shadow: 10px 10px 30px rgba(128, 127, 127, 0.4);
  }
}
.carousel .swiper-slide-next {
  margin: 0;
}
.carousel
  .swiper-slide:not(.carousel .swiper-slide-prev):not(.carousel .swiper-slide-active):not(
    .carousel .swiper-slide-next
  ) {
  opacity: 0;
}
.contentsDetail {
  width: 68px;
  height: 68px;
  padding-top: 17px;
  border-radius: 50%;
  border: 0;
  font-size: 9px;
  position: fixed;
  left: 70px;
  top: 410px;
  background: linear-gradient(45deg, #a3ff5b, #49c8ff);
  display: none;
}

@media (max-height: 738px) {
  .carousel {
    margin: 0;
  }
}
